<li>
	<span class="title"><h4><%= dream.title %></h4></span>
	<span class="body"><%= dream.body %></span>
	<span class="timestamp">
		Dreamed <%= time_ago_in_words(dream.created_at) %> ago.
	</span>
</li>