<% provide(:title, 'New dream') %>
<h1>New dream</h1>

<div class="row">
	<%= form_for(@dream) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Post dream", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
