<% provide(:title, 'About') %>
<h1>About Just Had a Dream</h1>
<p>
	Just Had a Dream is an online dream journal application where you can keep track of your dreams
	and see patterns unfold in your unconscious mind.
</p>