<% provide(:title, 'Blog' ) %>
<div style="width: 70%; padding-left: 30px;">
<h1>Dreams and the Self</h1>
<p>APRIL 28, 2015</p>
<i>“Know thyself.”</i></br>
<i style="padding-left: 10px;">-Inscription at the Temple of Apollo at Delphi</i>
<h2> A Dream </h2>
<p>You dream.</p>
<p>You wake up in a cold sweat, almost feverish.</p>
<p>You were just being chased by one of your own creations. Something large—something with teeth the length of your entire skull. Something dark and menacing. You were running in a haze of wilderness, confused and bewildered. Crying out. Imagery flashed like a series of eidetic photographs and then suddenly dissolved into a blur of mysterious filmlike projection. Then, just before you felt the pulsing breath of your predator on the back of your neck, the tips of its teeth brushing against your skin, you wake up…</p>
<p>You arise with a sense of warmth, a comforting nostalgia.</p>
<p>You were drifting about in a collage of childhood memory. You were up at your grandfather’s cabin in the mountains, the snow falling outside. You’re a young kid, bundled up on the couch by a crackling hearth, a plate of chocolate chip cookies on the coffee table within your reach. You are visited by an unprecedented urge to get up, unshed the warmth of the handknitted quilt, and usher your dragging feet across the room—but you were in the room no longer. You looked down at your feet to find your toes in the sand. The sound of waves crashing were not far off. You were at the beach; your brothers and sisters were digging a gigantic hole in the sand, on an imaginary transcontinental journey through the earth’s core. You watched as a sandcastle of your construction, the best one you ever made and will never forget, was consumed by the ocean. The fresh sea breeze comes to you as you open your eyes…</p>
<p>As soon as you awake, the bizarre surreality of your subconscious crawls somewhere deep into the back of your mind. It fades off into a distant chamber of the psyche. You get out of bed. You drink your coffee, eat your breakfast. You brush our teeth and go to work. You move on from the experience as if it did not involve you—as if it never happened at all.</p>
<h2> The Self </h2>
<p>What happened? What happened to the imaginary landscape—perhaps the seemingly disconnected plot of a story drafted by your own mind—as you laid down to rest for the night?</p>
<p>Where did it go? Better yet, where did it come from? What did it mean?</p>
<p>Often dreams are interpreted through an objective eye. Using Freudian or other interpretive methods, experts of analysis may attempt to define certain objects, colors, or shapes in dreams as symbols of the underlying self. But is the Self so conventional? Is it so bounded as to be restricted to definitive interpretation?</p>
<p>The Self is unique. Understanding of the Self is achieved through one’s own journey inward. It is a process not defined by the terminology of an abstract or textbook but through awareness, and wisdom. These virtues are earned through trial, through maturity—through growth from within. One must look inside the Self to achieve this. Dreams and the unconscious are the gateway to this realization.</p>
<p>So, rather than answers, the conclusion comes in questions. </p>
<p>What is a Dream to you? What is the Self to you?</p>
</div>