<% provide(:title, 'FAQ' ) %>
<body data-spy="scroll" data-offset="55" data-target=".scrollspy">
<div class="row">
	<div class="col-md-9">
		<div id="faq-body">

			<div class="content-header">FAQ</div>
			<div id="hard-science">
				<h2>What is the hard science about dreaming?</h2>
				<p>As far as scientists and sleep experts can grasp thus far, the basis of dreaming is linked to a stage in the sleep cycle known as REM sleep. After gradually falling into a deeper state of slow wave sleep, at about 90 minutes into the experience, the body enters this stage. Specialized neurotransmitters stop us from getting up and performing the feats that occur during dreams, but otherwise the brain is as responsive as it would be if you were awake. You are essentially paralyzed as part of your visual cortex tries to organize information sent from the cerebral cortex (your memories, your thoughts, and even your conscious endeavors) in order to make sense of the imagery you perceive.</p>
			</div>
			<div id="dreamly">
				<h2>What is Dreamly?</h2>
				<p>Dreamly is a community of seekers. It is a platform designed to help guide you in your quest for self understanding. Whether it’s keeping track of your own dreams through the functionality of the dream journal, voting and commenting on other publically posted dreams, or interacting with other members via messaging, Dreamly brings you together with other users on an unconscious level.</p>
			</div>
			<div id="importance">
				<h2>Why are dreams important?</h2>

				<p>The human psyche consists of two systems running simultaneously: the Conscious and the Subconscious. The Conscious, we experience constantly. We are actively existent in the Conscious moment with everything we do. The Subconscious is of a different cloth. It is a system many times overlooked, lying deep within us; carrying a host of hidden layers of emotion and intention. The greatest human minds have stressed its importance. The greatest human minds—poets, artists, spiritualists, and visionaries alike—have emphasized that what is embedded deep within the psyche bears much more weight in our day-to-day lives than we realize.</p>

				<p>Dreams are the royal road to the unconscious. The unconscious is the layer beneath the two systems of the psyche. By recording and analyzing your dreams, you can reconcile the two systems; bring them into harmony, assimilate the unconscious into consciousness; throw the light of consciousness onto the depths of the subconscious. Health is harmony between the conscious and subconscious systems.</p>
			</div>
			<div id="dream-journal">
				<h2>Why should I keep a dream journal?</h2>
				Both your dreams and your waking life are governed by the rule of perception: you see what you want to see. Consider the case of the black and blue dress (link). Looking at the exact same pixels on a screen, some people see a black and blue dress, while others are convinced they see it as white and gold. What is happening is that your perception is filling in the “gaps.” Reality offers a stimulus and you adjust what it is based on how you see it.</p>
				<p>Reflecting on dreams allows you to take a closer look at these “gaps.” What we miss as conscious beings, our unconscious grabs and hold onto. Identifying psychological landmarks along the symbolic road to the unconscious brings you face to face with the matter that has into these gaps: inner desires, wishes, hopes, and even concerns, matters that are not necessarily brought to your attention in a conscious state of mind. </p>
				<p>The key element in reflection is record. Using a journal to capture them, ideally as soon as you wake, gives you the chance to log such records and even more critically, accumulate many of them over time. It affords you the opportunity of your own analysis; keep track of consistent themes that may arise and even anomalies that may be attributed to certain moods, or, milestones reached in your life. </p>
				<p>What makes Dreamly such a quality resource for this process is the additive of a communal platform. You may decide to keep your dreams private, however, Dreamly also has the space for posting dreams publically. Here you can comment on other dreams, vote them up or down based on what you consider helpful or significant, and/or reach out to respective dreamers for discussion and reflection through messaging. Your dreams may have more in common with other dreams than you realize.</p>
			</div>
			<div id="pleasant-dreams">
				<h2>Why do we have pleasant dreams?</h2>
				<p>Pleasant dreams are the companion of a stress-free mindset. Feeling relaxed and comfortable before going to bed make dreams more positive. We have pleasant dreams because we have let go of the stress built up over what happened during the day.</p>
				<p>But pleasant dreams can arise from moods of deeper provenance. Pleasant dreams can be the result of resolution. Perhaps you have recently let go of a decade-old grudge with one of your best friends growing up. Or maybe you finally donated your time to the homeless shelter that you had been putting off for years due to a job that kept you working late hours on the weekends.</p>
				<p>Pleasant dreams are the rewards of coming to terms with inner conflict that has been bottled up into tension. Pleasant dreams are the achievement of harmony within the self.</p>
			</div>
			<div id="nightmares">
			<h2>Why do we have nightmares?</h2>
				<p>As research suggests, from a physiological standpoint, nightmares can occur because of late-night food consumption which causes an increase in metabolism and consequently energized brain. Again, daily stress can also be a contributor. Although these are facts, the content of your nightmares is more informative than anything else.</p>
				<p>Contrary to pleasant dreams, nightmares hail from disharmony. They are the signals of an activated defense mechanism. The unconscious system is excited to some mode of antagonist, by which it feels it is being attacked. The encroachment doesn’t have to be of physical nature; in modern society your stressors are often the ends of psychological discomfort. Nightmares could arise from the previous example—that decade-old grudge you are still holding onto. It could be the anxiety that you feel knowing that that person has been seeing you in a bad light for so many years. A nightmare could be the result of an insolent boss at work—or even jealousy aroused by an ex-girlfriend who jilted you for someone else.</p>
				<p>Nightmares are the messages of a battered Will. Nightmares are the restless fault lines that are yet to have been stabilized within the soul.</p>
			</div>
			<div id="collective-unconscious">
				<h2>What is the Collective Unconscious?</h2>
				<p>The collective unconscious is the common mental framework and structure that we all share as humans. Because it is the way we all think, it generally goes unnoticed, but scrutiny reveals that this human way of thinking is specific, idiographic, and peculiar -- it is likely that another intelligent species could experience and think about the world in a completely different way than us. The psychologist Carl Jung coined the term collective unconscious and according to him, it is made up of instincts and archetypes. Archetypes are universal symbols like the Wise Old Man, the Mother, the Tower, the Tree of Life, the Fool, the King, the Tyrant, the Monster, the Rogue, etc…, like you would see on tarot cards. Every human culture recognizes and uses these symbols; together with the Instincts they make up the fabric of our reality.</p>
				<p>What happened at the beginning of the Iraq War? According to some, a Tyrant started a needless war for personal gain. Others would say that a benevolent Leader led a campaign to defend American sovereignty. Either way, the experience is that of a story or narrative. This is the way we perceive a coherent, understandable reality.</p>
				<p>Perhaps Time and Space are similar constructs of the collective unconscious -- human ways of understanding and authoring a coherent story from the storm of reality.</p>
				<p>The idea of the collective unconscious explains so much of our history. Why did separate cultures independently form myths involving the flooding and consequent reseeding of the world? The same for stories of a divine savior who would die and be born again? Why do snakes figure so prominently in all mythical traditions and why do modern city-dwellers still dream of snakes? Why did the ancient Greeks and Hindus both arrive at a zodiac where the same stars depicted an archer (Sattitarius) and a water-carrier (Aquarius) even though the constellations do not resemble their namesakes at all? What drove Paul, Constantine, and eventually the rest of the Western world to adopt Christianity. What drove 16th century Europeans to simultaneously reach new heights in art, and what drove 17th century Europeans to simultaneously embrace Reason and the scientific method?</p>
				<p>Dreams are direct conduits to the collective unconscious because, in a dream, you get the human mind (interpreter of reality) operating without the constraints physical reality. The collective unconscious (human mind) is like a lense or machine which receives inputs of physical perception and sensation and produces the output of an interpreted reality or story. In a dream, the input is minimal, so the mind is given free reign and scope to construct entirely new and fresh vistas of reality.<p>
			</div>

			<div class="share-box">
			</div>	

		</div>
	</div>
	<div class="col-md-3 scrollspy">
	
		<ul class="nav nav-stacked faq-scrollspy" data-spy="affix">
			<li class="active"><a href="#hard-science">What is the hard science about dreaming?</a></li>
			<li><a href="#dreamly">What is Dreamly?</a></li>
			<li><a href="#importance">Why are dreams important?</a></li>
			<li><a href="#dream-journal">Why should I keep a dream journal?</a></li>
			<li><a href="#pleasant-dreams">Why do we have pleasant dreams?</a></li>
			<li><a href="#nightmares">Why do we have nightmares?</a></li>
			<li><a href="#collective-unconscious">What is the Collective Unconscious?</a></li>
		</ul>

	</div>
</div>
<body>