<div class="center hero-unit">

	<h1>Welcome to Just Had a Dream</h1>
	<h2>This is the home page for justhadadream.com.</h2>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
