<% provide(:title, 'All dreams') %>
<div class ="col-md-9">
<h1>TERMS AND CONDITIONS</h1>
<p>This Agreement was last modified on 5/26/2015.</p>
<p>Welcome to Dreamly.io.</p>
<p>By using or accessing Dreamly.io in any way, viewing or browsing the Site, or adding your own content to the site, you are agreeing to be bound by these Terms and Conditions.</p>
<p>Your use of this website and any dispute arising out of such use of the website is subject to the laws of the United States.</p>
<h2>Intellectual Property</h2>
<p>Dreamly.io and all of its original content are the sole property of Dreamly.io and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.</p>
<h2>Termination</h2>
<p>Dreamly.io reserves the right to terminate your access to the site, without any advance notice.</p>
<h2>Links to Other Websites</h2>
<p>Dreamly.io does contain a number of links to other websites and online resources that are not owned or controlled by Dreamly.io.</p>
<p>Dreamly.io has no control over, and therefore cannot assume responsibility for, the content or general practices of any of these third party sites and/or services. Therefore, we strongly advise you to read the entire terms and conditions, and privacy policy, of any site that you visit as a result of following a link that is posted on our site.</p>
<h2>Changes to This Agreement</h2>
<p>Dreamly.io reserves the right to modify these Terms and Conditions at any time. We do so by posting and drawing attention to the updated terms. Your decision to continue to visit and make use of Dreamly.io after such changes have been made constitutes your formal acceptance of the new Terms and Conditions.</p>
<p>Therefore, we ask that you check and review this Agreement for such changes on an occasional basis. Should you not agree to any provision of this Agreement or any changes we make to this Agreement, we ask and advise that you do not use or continue to access Dreamly.io.</p>
<h2>Contact Us</h2>
<p>If you have any questions about this Agreement, please feel free to contact us at connectdreamly@gmail.io.</p>
</div>