

	<div class="row">




		<div class="comment-box">
			<% if user_signed_in? %>
			<!-- the simple_form_for call uses an array which builds a nested route, e.g. /dreams/1/comments' -->
				<%= simple_form_for([@commentable, @comment], html: { "data-type" => :json, class: "comment-form" }) do |f| %>	
					
          <div class="comment_error_explanation_wrapper alert alert-danger" style="display:none;">
            <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="comment_error_explanation"></div>
          </div>

					<%= f.input :body, input_html: { id: 'dream-comment-textarea-edit' } %>
      
         <script>
          $(function() {
              $('#dream-comment-textarea-edit').editable({
                inlineMode: false
              })
          });


        </script>            

            <div class="btn-group btn-toggle" data-toggle="buttons">

              <% if @comment.private %>

                <label class="btn btn-default">
                  <input type="radio" name="comment[private]" value="false"> Public
                </label>
                <label class="btn btn-default active">
                  <input type="radio" name="comment[private]" value="true" checked> Private
                </label>
              <% else %>
                <label class="btn btn-default active">
                  <input type="radio" name="comment[private]" value="false" checked> Public
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="comment[private]" value="true"> Private
                </label>                
              <% end %>
            </div>

					<button type="submit" class="btn btn-primary btn-square">
			      Save changes
			    </button>
				<% end %>
			<% end %>
		</div>	



	</div>

