<% provide(:title, 'Blog') %>


<div class="row">
	<div class="col-md-9">
		<div class="article-container">
			<%= render @articles %>
			<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>





