<% provide(:title, 'Blog') %>
<% provide(:description, 'A blog exploring dreams and the unconscious mind that feeds them.') %>
<% provide(:keywords, 'blog, dreams, forum, dream blog, dream meaning, online diary, diary, dream means, dream dictionary, online dream journal') %>


<div class="row">
	<div class="col-md-9">
		<div class="article-container">
			<%= render @articles %>
			<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>





