<% conversation.participants.each do |participant| %>
	<% unless participant == current_user %>
	
			<%= link_to participant do %>
				<% if participant.avatar_file_name.nil? %>
					<div class="dream-avatar-default">
						<p><%= participant.username.first.upcase %></p>
					</div>						
				<% else %>
					<%= image_tag participant.avatar.url(:thumb) %>
				<% end %>
				<%= participant.username %>
			<% end %>
	
	<% end %>
<% end %>