<% unless current_user == @user %>
	<% div_id = "follow_form_#{@user.id}" %>
	<div id="<%= div_id %>">
		<% if current_user.following?(@user) %>
			<%= render 'users/unfollow' %>
		<% else %>
			<%= render 'users/follow' %>
		<% end %>
	</div>
<% end %>