<% provide(:title, 'Dreamers') %>


<h3 class="content-title">Dreamers</h3>

<div class="users" id="user-list">
	<%= render @users %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
