<% provide(:title, 'Users') %>
<h1>Users</h1>

<div class="users" id="user-list">
	<%= render @users %>
</div>

<div id="infinite-scrolling">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>