
<% hashtag_size0 =  100 * (hashtag.dreams_count / @hashtag_total.to_f) ** 0.4 %>

<% hashtag_size =  [12, hashtag_size0].max  %>
<% hashtag_style = "font-size: #{hashtag_size}px;" %>

<div class="hashtag-div hashtag-color" style="<%= hashtag_style %>">
<%= link_to hashtag do %>	
	
		<%= hashtag.name %>




<% end %>
	</div>	