<% provide(:title, 'Hashtags') %>
<h1>Hashtags</h1>
  

<div class="blank_box">
  <%= render @hashtags %>
</div>

<div class="share-box">
</div>  

<!--
<div id="hashtag-box">
</div>


<script>



  var fill = d3.scale.category20();

  var hashtag_words = <%= @hashtag_words.to_json.html_safe %>;

  function node_url(d) { return "<%= hashtags_path %>".concat("/").concat(d.text)};
  function node_size(d) { return 12 + d.weight * 3 };

var makeRandom = function(seed) {
    return function() {
        return (seed = (seed * 9301 + 49297) % 233280) / 233280.0; 
    }
}


var random = new MersenneTwister(123);  



  d3.layout.cloud()
      .random(random)
      .size([500, 500])
      .words(hashtag_words.map(function(d) {
        return {text: d[0], size: 19};
      }))
      .padding(5)
 //     .rotate(10)
      .rotate(function(i) { return (i%2)*10 })
 //     .rotate(function() { return Math.random() * 20 - Math.random() * 40 })
 //     .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#hashtag-box").append("svg")
        .attr("width", 500)
        .attr("height", 500)
      .append("g")
        .attr("transform", "translate(250,250)")
      .selectAll("text")
        .data(words)
      .enter().append("svg:a")
      	.attr("xlink:href", node_url)
      	.append("text")
	        .style("font-size", function(d) { return d.size + "px"; })
	        .style("font-family", "Impact")
	        .style("fill", function(d, i) { return fill(i); })
	        .attr("text-anchor", "middle")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .text(function(d) { return d.text; });
  }
</script>

-->