@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

/* mixins, variables, etc. */
$lightBlue: #BFDFEE;
$mediumBlue: #428bca;
$darkBlue: #286bcc;
$lightGray: #999999;
$darkGray: #858585;
$darkGray2: #666666;
$lightYellow: #fffa9f;
$lightRed: #f19c99;
$teal: #00aeef;

/* universal */

body{
  padding-top: 60px;
  background-color: $lightBlue;
}

.white-background{
  background: white;
}

/* header */

.navbar-default {
  background-color: white;
  border-bottom: 1px solid $darkGray;
}

#site_header {
  font-size: 25px;
  font-family: 'Ubuntu';
  font-weight: 700;
  line-height: 50px;
  vertical-align: middle;
  float: left;
  a {
    color: $mediumBlue;
  }
  a:hover {
    text-decoration: none;
    color: $mediumBlue;
  }
}

#cloud_header {
  display: block;
  width: 50px;
  line-height: 53px;
  margin: 0 auto;
  vertical-align: middle;
}

.navbar-btn {
  font-size: 25px;
  color: #428bca;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  a:hover{
    text-decoration: none;
  }
}

#add-dream-plus {
  float: left;
}

#add-dream-button {
  float: left;
  padding-left: 5px;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
}

#signin-button {
  border-radius: 0;
  font-size: 15px;
  a {
    color: white;
    text-decoration: none;
  }
}

/* Landing page */

#home-top-panel {
  background: $lightYellow;
  margin-top: -6px;
  height: 228px;
}

#home-header {
  padding-top: 20px;
  color: $darkBlue;
  font-size: 50px;
  font-weight: 700;
}

#home-byline {
  padding-top: 5px;
  color: $darkGray;
  font-size: 28px;
}

#home-byline2 {
  padding-top: 30px;
  color: $lightGray;
  font-size: 21px;
  padding-bottom: 5px;
}

#signup-button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 26px;
  background: $teal;
  border: none;
  box-shadow: inset 0 1px #3dcaff,0px 5px #0076a3,0 3px 5px rgba(0,0,0,.3);
  transition: background .25s;
}

#signup-button:hover {
  background: $darkBlue;
  border: none;
  box-shadow: inset 0 1px #3dcaff,0px 5px #0076a3,0 3px 5px rgba(0,0,0,.3);
}



#home-panel1 {
  background: white;

  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 70px;
  text-align: center;
  color: $darkGray2;
}

.white-panel {
  background: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
  p {
    color: $darkGray2;
  }  
}

#home-panel2 {
  background: $lightRed;
  height: 500px;

}

#home-panel2-inner {
  padding-top: 40px;
}

#panel2-2 {
  padding-bottom: 10px;
  height: 387px;
  img {
    padding-top: 20px;
  }
}

#home-panel3 {
  background: $lightYellow;
  height: 200px;
  p {
    padding-left: 30px;
  }
}

#home-panel3-inner {
  padding-top: 40px;
}

/* Profile */

#profile-left-sidebar {
  width: 263px;
}

#dashboard{
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  float: left;
}

#dashboard-avatar{
  float: left;
  img{
    border-radius: 10px;
  }
}

#dashboard-usernames{
  float: left;
  padding-left: 5px;
}

#dashboard-usernames-name a{
  color: black;
  font-size: 20px;
}

#dashboard-usernames-handle a{
  color: #999999;
  font-size: 16px;
}

#dashboard-stats{
  padding-top: 10px;
  clear: both;
  .stat-header{
    color: #999999;
    font-size: 15px;
  }
  .stat-number{
    color: #428bca;
    font-size: 18px;
  }
}

#dashboard-stats-left{
  float: left;
  width: 50%;
}

#profile-graph {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  float: left;
  margin-top: 15px;
}

/* footer */

footer {
  height: 50px;
  margin-top: -10px;
  padding-top: 12px;
  background: white;
  text-align: center;
  font-size: 16px;
  color: $lightGray;
  a:hover {
    text-decoration: none;
  }
  img {
  padding-top: -2px;
  }
}


/* forms */

#dream-body-textarea {
  height: 300px;
}

.datepicker {
  z-index: 1151 !important;
}

.modal-header {
  background: white;
  color: $darkBlue;
  padding-left: 35px;
}

.modal-body {
  background: $lightBlue;
}

#new_dream {
  label {
    font-size: 16px;
    line-height: 16px;
  }
 .btn {
  float: right;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
}

/* dreams */

.dream {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.dream-left{
  float: left;
  width: 50px;
  padding-top: 6px;
  text-align: center;
  font-size: 18px;
  color: #999999;
}

.dream-right{
  margin-left: 50px;
  p {
    color: #5F5F5F
  }
}

.dream-title {
  a {
    color: black;
  }
  h4{
    margin-bottom: 2px;
  }
}

.dreamer1{
  color: #428bca;
  font-weight: bold;
}

.dreamer2{
  color: #428bca;
}

.dreams {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 0 0;
  }
}
.body {
  display: block;
}

/* Graph */

.link {
  stroke: #ccc;
}

.node circle {
  fill: $lightBlue;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text:hover {
  fill: #5E3D3C;
  font-weight: 700;
}


/* Typography */

body{
  font-family: 'Ubuntu';
}

.content-title h3{
  margin-top: 5px;
}