@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* mixins, variables, etc. */
$lightBlue: #00CCFF;
$lightGray: #999999;

/* universal */

body{
  padding-top: 60px;
  background-color: #BFDFEE;
}

.white-background{
  background: white;
}

/* header */

.navbar-default {
  background-color: white;
}

#site_header {
  font-size: 25px;
  font-family: 'Ubuntu';
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
  float: left;
  a:hover {
    text-decoration: none;
    color: #428bca;
  }
}

 #site_header a:hover {
    text-decoration: none;
    color: #428bca;
  }

#cloud_header {
  display: block;
  width: 50px;
  line-height: 53px;
  margin: 0 auto;
  vertical-align: middle;
}

.navbar-btn {
  font-size: 25px;
  color: #428bca;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  a:hover{
    text-decoration: none;
  }
}

#add-dream-plus {
  float: left;
}

#add-dream-button {
  float: left;
  padding-left: 5px;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
}

/* Profile */

#profile-left-sidebar {
  width: 263px;
}

#dashboard{
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  float: left;
}

#dashboard-avatar{
  float: left;
  img{
    border-radius: 10px;
  }
}

#dashboard-usernames{
  float: left;
  padding-left: 5px;
}

#dashboard-usernames-name a{
  color: black;
  font-size: 20px;
}

#dashboard-usernames-handle a{
  color: #999999;
  font-size: 16px;
}

#dashboard-stats{
  padding-top: 10px;
  clear: both;
  .stat-header{
    color: #999999;
    font-size: 15px;
  }
  .stat-number{
    color: #428bca;
    font-size: 18px;
  }
}

#dashboard-stats-left{
  float: left;
  width: 50%;
}

#profile-graph {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 10px;
  float: left;
  margin-top: 15px;
}

/* footer */

footer ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
}

/* forms */

textarea {
  height: 300px;
  width: 300px;
}

.datepicker {
  z-index: 1151 !important;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
}

/* dreams */

.dream {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.dream-left{
  float: left;
  width: 50px;
  padding-top: 6px;
  text-align: center;
  font-size: 18px;
  color: #999999;
}

.dream-right{
  margin-left: 50px;
  p {
    color: #5F5F5F
  }
}

.dream-title {
  a {
    color: black;
  }
  h4{
    margin-bottom: 2px;
  }
}

.dreamer1{
  color: #428bca;
  font-weight: bold;
}

.dreamer2{
  color: #428bca;
}

.dreams {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 0 0;
  }
}
.body {
  display: block;
}

/* Graph */

.link {
  stroke: #ccc;
}

.node circle {
  fill: white;
  stroke: #fff;
  stroke-width: 1.5px;
}

/* Typography */

body{
  font-family: 'Ubuntu';
}

.content-title h3{
  margin-top: 5px;
}