@import "bootstrap";

/* mixins, variables, etc. */
$lightBlue: #00CCFF;
$lightGray: #999999;

/* universal */

body{
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  img {
    width: 350px;
  }
}

/* footer */

footer ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
}

/* forms */

textarea {
  height: 300px;
  width: 300px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
}

/* microposts */

.dreams {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 0 0;
    border-top: 1px solid #e8e8e8;
  }
}
.body {
  display: block;
}
.timestamp {
  color: $lightGray;
}